doctype html
html
    head
        title= "This is the title"
    body
        h2= "Chat Screen"
        p(id="username")= username
        p(id="conv_id")= conv_id
        p(id="order_id")= order_id
        p(id="order_text")= order_text
        p(hidden id="jwt")= jwt
        hr
        section(id="messages")
            h2(id="sessionName") Session Name
            div(id="messageFeed") Message feed
            div
                textarea(id="messageTextArea") type your message here...
                button(id="send") Send
                div(id="status") Status

    script(src='/modules/nexmoClient.js') 
    script(src='/js/client.js') 

