doctype html
html
    head
        title= "This is the title"
    body
        h2= "Chat Screen"
        p(hidden id="jwt")= jwt
        p(id="username")= username
        p(id="conv_id")= conv_id
        p(id="order_id")= order_id
        hr
        h3= "Order History"
        div(id="order_history")= order_history
        hr
        section(id="messages")
            h3(id="sessionName")
            div(id="messageFeed")
            div
                textarea(id="messageTextarea")
                button(id="send") Send

    script(src='/modules/nexmoClient.js') 
    script(src='/moment/moment.js')     
    script(src='/js/client.js') 

